body{
font-family:'Courier New', Courier, monospace;
background-image:url(https://museumsvictoria.com.au/media/12934/175_mm189994_top-designs-2020_whatson.jpg);
background-size:cover;
}


h1{
color:purple;
text-align:center;
}

#heading2{
color:yellow;    
}

div{
color:rebeccapurple;
border-style:solid;
border-color:royalblue;
border-width:5px;
background-color:peachpuff;
width:50%;
margin:auto;
text-align:center;
}

#cssd{    
color:peachpuff;
border-style:solid;
border-color:yellow;
border-width:5px;
background-color:rebeccapurple;
width:50%;
margin:auto;
text-align:center;
}

.lang{
color:cyan;
border-style:solid;
border-color:cyan;
border-width:5px;
background-color:rgba(219, 216, 26,0.4);
width:50%;
margin:auto;
text-align:center;
}
